/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* other */

:root {
  --blue: #3B82F6;
  --grey: #D1D5DB;
  --red: #EF4444;
  --shadow: 0px 0px 28px 0px #0000000F;
  --rounded: 0.4rem;
}

/* #app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

body {
  padding: 8%;
  font-family: 'Public Sans';
  color: #2d2d2d;
}

p {
  max-width: 45rem;
}

button {
  font-weight: 700;
  padding: 8px 12px;
  border-radius: var(--rounded);
  border: none;
  box-shadow: var(--shadow);
  cursor: pointer;
  background-color: var(--grey);
  min-width: 80px;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1.25rem;
}

input:focus {
  outline: 1px solid var(--blue);
}

input {
  border-radius: var(--rounded);
  box-shadow: var(--shadow);
  outline: none;
  border: 0.5px solid var(--grey)
}

@keyframes slide-in {
  from {
    top: 80px;
    opacity: 0;
  }

  to {
    top: 0px;
    opacity: 1;
  }
}